HBox,AnchorPane{
	-fx-background-color: white;
}
Button{
	-fx-background-color: black;
	-fx-text-fill: white;
}
Button:hover,HyperLink:hover{
	-fx-cursor: hand ;
}
Button,TextField,HBox{
	-fx-background-radius: 10;
}
Hyperlink{
	-fx-text-fill: black;
}
.btnMXH{
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-border-color:black;
	-fx-border-width:1;
	-fx-border-radius:10;
}

