Button{
	-fx-background-color: white;
}
.logo{
	-fx-background-image: url("../image/logo.jpg");
	-fx-background-repeat: no-repeat ;
	-fx-background-size: cover ;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}
TextField,Button{
	-fx-border-radius: 10;
}
