.nenchinh{
	-fx-background-color:white;
	-fx-padding:10px;
}
.button{
	-fx-background-color:white;
}
.vien{
	-fx-border-color: rgba(0, 0, 0, 0.5);
	-fx-padding:5px;
	-fx-border-radius:5;
}
.nut-nhanvien{
	-fx-background-color:white;
}
.chuong{
	-fx-background-image: url("../icon/chuong.png");
	-fx-background-repeat: no-repeat;
	 -fx-background-position: center center;
	 -fx-background-size: 23 23;
}
